[submodule "DOCKER"]
	path = ALL-DOCKER/docker-deep-dive
	url = https://github.com/swisscodes/DOCKER
[submodule "ALL-DOCKER/psweb"]
	path = ALL-DOCKER/psweb
	url = https://github.com/swisscodes/psweb.git
[submodule "ALL-DOCKER/ddd-book"]
	path = ALL-DOCKER/ddd-book
	url = https://github.com/swisscodes/ddd-book
[submodule "ALL-DOCKER/udemy-docker-mastery"]
	path = ALL-DOCKER/udemy-docker-mastery
	url = https://github.com/swisscodes/udemy-docker-mastery
