[submodule "DOCKER"]
	path = ALL-DOCKER/docker-deep-dive
	url = https://github.com/swisscodes/DOCKER
[submodule "ALL-DOCKER/psweb"]
	path = ALL-DOCKER/psweb
	url = https://github.com/swisscodes/psweb.git
